# JetBrains IDEs (Rider, IntelliJ, etc.)
.idea/

# .NET artifacts
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

# Visual Studio
.vs/
*.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
packages/

# Test results
TestResults/
[Tt]est[Rr]esult*/ 